@charset "ISO-8859-1";

.menubutton
{
	background-color:#f15a25;
	color:white;
	width:150px;
	text-align:center;
	
}

.city
{
	margin-bottom: 5px;
	padding:auto;
}

.city  .menubutton
{
	margin-bottom:5px !important;
	width:300px !important;
}

DIV
{
	padding-left:10px;
}

.building
{
}

.city > * 
{
	display:block;
}

.tab
{
	height:800px;
	overflow-y:scroll;
}



