BODY
{
	background-color:black;
	color:green;	
	font-family:Tahoma;
}

#commandbar
{
	background-color:black;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:4px dashed green;
	width:100%;
	font-size:150%;
	color:green;
}
